<h2 align="center">Hello and welcome back, here are all posts for the last 24 hours. Today is <%= Date.today %><h2>

<h3 align="center">Listing Posts:</h3>

<p>
<%= link_to 'Add new post', new_post_path %>
</p>

<table>
  <tr>
    <th>Title</th>
    <br>
    <th>Body</th>
    <br>
    <th colspan="3"></th>
  </tr>

  <% @posts.each do |p| %>
    <tr>
      <td><%= p.title %></td>
      <td><%= p.body %></td>
      <td><button><%= link_to 'Show', post_path(p) %><button></td>
      <td><button><%= link_to 'Delete', post_path(p), method: :delete, data: { confirm: 'Are you sure?' } %><button></td>
      <td><button><%= link_to 'Edit', edit_post_path(p) %><button></td>
    </tr>
  <% end %>
</table>